@import "tailwindcss";

/* Register sources */
@source "../../../snippets"
@source "../../../blocks";
@source "../../../section";
@source "../../../templates";

html {
    overscroll-behavior: none;

    @media (min-width: 768px) {
        scrollbar-gutter: stable;
    }
}

body {
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

img,
svg,
video {
    pointer-events: none;
    user-select: none;
}

dialog {
    max-width: none;
    max-height: none;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility scrollbar-visible {
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-bg-lightgrey);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-border-lightgrey);
        border-radius: 2px;
    }
}
