<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render 'css-variables' %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'meta-tags' %}

    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .main-password {
        flex: 1;
        display: flex;
        align-items: center;
      }
    </style>

    {{ content_for_header }}
  </head>

  <body>
    {% render 'icons-sprite' %}
    {{ content_for_layout }}
  </body>
</html>
