<!-- About Section -->
<section id="about" class="about full-width">
  <div class="about-container full-width">
    <div class="about-content">
      <div class="about-logo">
        <img
          src="{{ 'AGH Logo GreenAsset 1@4x.png' | asset_url }}"
          height="400"
          width="400"
          alt="AGH Logo Mark"
          class="logo-mark"
        >
      </div>
      <div class="about-text">
        <h2 class="section-title about-title">Crafted with Passion, Designed for Life</h2>
        <p class="about-description">
          {% comment %} change this copy cos its whack {% endcomment %}
          At Andra's Garden Heaven, we believe in the timeless beauty and enduring quality of handmade rattan furniture.
          Based in Glasgow, we meticulously craft each piece to bring a touch of nature's tranquility and sustainable
          elegance into your home. Our commitment to affordability ensures that exceptional design is accessible to
          everyone, transforming your living spaces into serene havens. We are more than just furniture makers; we are
          artisans dedicated to creating pieces that tell a story, built to last, and designed to enrich your everyday
          life.
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About",
  "settings": []
}
{% endschema %}
