<section class="BelowFoldSection full-width">
  <div class="BelowFoldSectionWrapper">
    <div class="BelowFoldLeft">
      <h2>Ready for Peace?</h2>
      <div class="hero-description">
        <p>
          Elevate your living space with our globally inspired collection of handmade furniture, where craftsmanship
          meets contemporary luxury.
        </p>
      </div>
      <div class="Hero-ctas">
        <a href="#about" class="button learn-more">Discover More</a>
        <a href="{{ routes.collections_url }}" class="button shop-now">Purchase Peace</a>
      </div>
    </div>
    <div class="BelowFoldRight">
      <img
        class="BelowFoldImage"
        {% comment %} TO DO : Add alt text AND CHANGE IMAGE {% endcomment %}
        src="{{ 'AGH Logo GreenAsset 1@4x.png' | asset_url }}"
        alt="Andra's Garden Heaven Logo, designed by SCM Design Studio. 2025. Glasgow"
        width="500"
        height="500"
        style="border-radius: 50%;"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Below Fold",
  "settings": []
}
{% endschema %}
