<div class="custom-section full-width relative overflow-hidden w-full">
  {% if section.settings.background_image %}
    <div class="custom-section__background absolute w-full h-full z-[-1] overflow-hidden">
      {{ section.settings.background_image | image_url: width: 2000 | image_tag }}
    </div>
  {% endif %}

  <div class="custom-section__content grid grid-cols-[minmax(var(--page-margin),1fr)_min(calc(var(--page-width)-var(--page-margin)*2),calc(100%-var(--page-margin)*2))_minmax(var(--page-margin),1fr)]">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.custom_section",
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:labels.background"
    }
  ],
  "presets": [
    {
      "name": "t:general.custom_section"
    }
  ]
}
{% endschema %}
