/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/** Section layout utilities */

/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 *
 * By default, a minimum content margin is set on the left and right
 * sides of the section and the content is centered in the viewport to
 * not exceed the maximum page width.
 *
 * When a child element is given the `full-width` class, it will span
 * the entire viewport.
 */
.shopify-section {
  --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width) var(--content-margin);

  /* This is required to make <img> elements work as background images */
  position: relative;
  grid-template-columns: var(--content-grid);
  display: grid;
  width: 100%;
}

/* Child elements, by default, are constrained to the central column of the grid. */
.shopify-section > * {
  grid-column: 2;
}

/* Child elements that use the full-width utility class span the entire viewport. */
.shopify-section > .full-width {
  grid-column: 1 / -1;
}

/** Hello world block */
.welcome {
  display: grid;
  grid-template-columns: var(--content-grid);
  background-color: #f6f6f7;
  padding: 72px 0;
}

.welcome-content {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 24px;
}

.welcome-description {
  max-width: 80ch;
  line-height: 1.4;
  margin-top: 1.5rem;
}

.icon {
  width: 300px;
}

.highlights {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

@media (max-width: 1100px) {
  .highlights {
    grid-template-columns: 1fr;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #eef3ff;
  color: rgb(92, 95, 98);
  line-height: 1.4;
}

.highlight > * + * {
  margin-top: 1rem;
}

.highlight h3 {
  font-size: 1rem;
  color: rgb(32, 34, 35);
}

.highlight-description {
  flex: 1 1;
}

.highlight a {
  display: flex;
  width: fit-content;
  background-color: rgb(250, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset, rgba(255, 255, 255, 0.9) 0px 2px 0px 0px inset;
  border: 1px solid rgb(140, 145, 150);
  border-radius: 4px;
  color: rgb(92, 95, 98);
  padding: 3px 10px 5px;
  text-decoration: none;
}

/** Text block */
.text {
  text-align: var(--text-align);
}
.text--title {
  font-size: 2rem;
  font-weight: 700;
}
.text--subtitle {
  font-size: 1.5rem;
}

/** Collection page */
.collection-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/** Collections list page */
.collections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--collection-card-size), 100%), 1fr));
  gap: var(--grid-gap);
}
.collections--compact {
  --collection-card-size: 160px;
}
.collections--full {
  --collection-card-size: 280px;
}
.collection-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/** Search page */
.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.search-results .prev,
.search-results .page,
.search-results .next {
  grid-column: 1 / -1;
}

/** Header */
header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  position: relative;
  text-decoration: none;
  color: var(--color-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}
header a sup {
  position: absolute;
  left: 100%;
  overflow: hidden;
  max-width: var(--page-margin);
}
header svg {
  width: 2rem;
}
header .header__menu,
header .header__icons {
  display: flex;
  gap: 1rem;
}

/** Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
footer a {
  text-decoration: none;
  color: var(--color-foreground);
}
footer .footer__links,
footer .footer__payment {
  display: flex;
  gap: 1rem;
}
